@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {

    --rich-black: 209, 76%, 8%, 1;
    --saffron: 48, 96%, 45%, 1;
    --moonstone: 188, 39%, 56%, 1;
    --mint-green: 171, 57%, 89%, 1;
    --seasalt: 0, 0%, 98%, 1;

    --yale-blue: 209, 77%, 23%, 1;
    --lemon-chiffon: 48, 83%, 89%, 1;
    --naples-yellow: 47, 87%, 66%, 1;
    --sandy-brown: 28, 83%, 61%, 1;
    --tomato: 10, 94%, 60%, 1;

    --white: var(--lemon-chiffon);
    --black: var(--rich-black);

    --primary: var(--tomato);
    --secondary: var(--sandy-brown);
    --accent: var(--naples-yellow);

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-black text-white;
  }

}